[Desktop Entry]
Name=Gum
GenericName=Audio Editor
Comment=An audio editor
Exec=gum %f
Terminal=false
Type=Application
Icon=editcut
Categories=Audio;AudioVideoEditing;
MimeType=audio/basic;audio/flac;audio/x-aiff;audio/x-wav;

